# Fixing column names

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import collections
import os
import glob

In [7]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
df_dict = {}
for f in csv_files:
    df_dict[f.split("\\")[-1]] = pd.read_csv(f)

In [8]:
# 2018 Q1, 2019 Q2 different from others
df_dict.keys()

dict_keys(['Divvy_Trips_2018_Q1.csv', 'Divvy_Trips_2018_Q2.csv', 'Divvy_Trips_2018_Q3.csv', 'Divvy_Trips_2018_Q4.csv', 'Divvy_Trips_2019_Q1.csv', 'Divvy_Trips_2019_Q2.csv', 'Divvy_Trips_2019_Q3.csv', 'Divvy_Trips_2019_Q4.csv'])

In [16]:
col_name = []
for k in df_dict.keys():
    col_name.append(list(df_dict[k].columns))
[list(x) for x in set(tuple(x) for x in col_name)]

[['01 - Rental Details Rental ID',
  '01 - Rental Details Local Start Time',
  '01 - Rental Details Local End Time',
  '01 - Rental Details Bike ID',
  '01 - Rental Details Duration In Seconds Uncapped',
  '03 - Rental Start Station ID',
  '03 - Rental Start Station Name',
  '02 - Rental End Station ID',
  '02 - Rental End Station Name',
  'User Type',
  'Member Gender',
  '05 - Member Details Member Birthday Year'],
 ['trip_id',
  'start_time',
  'end_time',
  'bikeid',
  'tripduration',
  'from_station_id',
  'from_station_name',
  'to_station_id',
  'to_station_name',
  'usertype',
  'gender',
  'birthyear']]

In [17]:
df_dict['Divvy_Trips_2018_Q1.csv'].columns = ['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration', 'from_station_id', 'from_station_name', 'to_station_id', 'to_station_name', 'usertype', 'gender', 'birthyear']
df_dict['Divvy_Trips_2019_Q2.csv'].columns = ['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration', 'from_station_id', 'from_station_name', 'to_station_id', 'to_station_name', 'usertype', 'gender', 'birthyear']

In [18]:
col_name = []
for k in df_dict.keys():
    col_name.append(list(df_dict[k].columns))
[list(x) for x in set(tuple(x) for x in col_name)]

[['trip_id',
  'start_time',
  'end_time',
  'bikeid',
  'tripduration',
  'from_station_id',
  'from_station_name',
  'to_station_id',
  'to_station_name',
  'usertype',
  'gender',
  'birthyear']]

In [51]:
trips_2018 = pd.DataFrame()
for q in range(1, 5):
    trips_2018 = pd.concat([trips_2018, df_dict[f'Divvy_Trips_2018_Q{q}.csv']])

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0

In [52]:
trips_2018.loc[:, 'tripduration'] = pd.to_numeric(trips_2018['tripduration'].replace(',','', regex=True))

In [54]:
trips_2018.head(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,2904.0,98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0

In [53]:
trips_2018.tail(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
642681,21742438,2018-12-31 23:45:17,2018-12-31 23:50:05,2931,288.0,49,Dearborn St & Monroe St,164,Franklin St & Lake St,Subscriber,Female,1983.0
642682,21742439,2018-12-31 23:48:48,2018-12-31 23:57:22,4386,514.0,624,Dearborn St & Van Buren St (*),44,State St & Randolph St,Subscriber,Female,1990.0
642683,21742440,2018-12-31 23:50:09,2018-12-31 23:57:16,4927,427.0,41,Federal St & Polk St,52,Michigan Ave & Lake St,Subscriber,Female,1995.0
642684,21742441,2018-12-31 23:55:04,2018-12-31 23:58:24,1350,200.0,141,Clark St & Lincoln Ave,118,Sedgwick St & North Ave,Subscriber,Male,1999.0
642685,21742442,2018-12-31 23:59:18,2019-01-01 00:20:43,2006,1285.0,260,Kedzie Ave & Milwaukee Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0

In [55]:
trips_2019 = pd.DataFrame()
for q in range(1, 5):
    trips_2019 = pd.concat([trips_2019, df_dict[f'Divvy_Trips_2019_Q{q}.csv']])

In [56]:
trips_2019.loc[:, 'tripduration'] = pd.to_numeric(trips_2019['tripduration'].replace(',','', regex=True))

In [57]:
trips_2019.head(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,1783.0,123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0

In [58]:
trips_2019.tail(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
704049,25962900,2019-12-31 23:56:13,2020-01-01 00:15:45,2196,1172.0,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0
704050,25962901,2019-12-31 23:56:34,2020-01-01 00:22:08,4877,1533.0,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0
704051,25962902,2019-12-31 23:57:05,2020-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0
704052,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0
704053,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0

In [59]:
trips_2018['tripduration'].dtype

dtype('float64')

In [60]:
trips_2018.to_csv('trips_2018.csv', index = False)
trips_2019.to_csv('trips_2019.csv', index = False)

# 2013-2017

## Standardizing names

In [74]:
# get col names of all csv
path = 'trips'
csv_files = glob.glob(os.path.join(path, "*.csv"))
col_names_dict = {}
for f in csv_files:
    col_names_dict[f] = pd.read_csv(f, nrows=0).columns.tolist()

In [75]:
csv_files

['trips\\Divvy_Trips_2013.csv',
 'trips\\Divvy_Trips_2014-Q3-07.csv',
 'trips\\Divvy_Trips_2014-Q3-0809.csv',
 'trips\\Divvy_Trips_2014-Q4.csv',
 'trips\\Divvy_Trips_2014_Q1Q2.csv',
 'trips\\Divvy_Trips_2015-Q1.csv',
 'trips\\Divvy_Trips_2015-Q2.csv',
 'trips\\Divvy_Trips_2015_07.csv',
 'trips\\Divvy_Trips_2015_08.csv',
 'trips\\Divvy_Trips_2015_09.csv',
 'trips\\Divvy_Trips_2015_Q4.csv',
 'trips\\Divvy_Trips_2016_04.csv',
 'trips\\Divvy_Trips_2016_05.csv',
 'trips\\Divvy_Trips_2016_06.csv',
 'trips\\Divvy_Trips_2016_Q1.csv',
 'trips\\Divvy_Trips_2016_Q3.csv',
 'trips\\Divvy_Trips_2016_Q4.csv',
 'trips\\Divvy_Trips_2017_Q1.csv',
 'trips\\Divvy_Trips_2017_Q2.csv',
 'trips\\Divvy_Trips_2017_Q3.csv',
 'trips\\Divvy_Trips_2017_Q4.csv']

In [79]:
c = list(col_names_dict.values())

[list(x) for x in set(tuple(x) for x in c)]

[['trip_id',
  'starttime',
  'stoptime',
  'bikeid',
  'tripduration',
  'from_station_id',
  'from_station_name',
  'to_station_id',
  'to_station_name',
  'usertype',
  'gender',
  'birthday'],
 ['trip_id',
  'starttime',
  'stoptime',
  'bikeid',
  'tripduration',
  'from_station_id',
  'from_station_name',
  'to_station_id',
  'to_station_name',
  'usertype',
  'gender',
  'birthyear'],
 ['trip_id',
  'start_time',
  'end_time',
  'bikeid',
  'tripduration',
  'from_station_id',
  'from_station_name',
  'to_station_id',
  'to_station_name',
  'usertype',
  'gender',
  'birthyear']]

In [83]:
standard_names = ['trip_id',
  'start_time',
  'end_time',
  'bikeid',
  'tripduration',
  'from_station_id',
  'from_station_name',
  'to_station_id',
  'to_station_name',
  'usertype',
  'gender',
  'birthyear']

path = 'trips'
csv_files = glob.glob(os.path.join(path, "*.csv"))
out_dict = {}
for f in csv_files:
    name = f.split("\\")[-1]
    out_dict[f.split("\\")[-1]] = pd.read_csv(f)
    out_dict[f.split("\\")[-1]].columns = standard_names
    out_dict[f.split("\\")[-1]].to_csv(f'{name}_standard.csv', index = False)

C:\Users\henry\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3139: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [84]:
csv_files

['trips\\Divvy_Trips_2013.csv',
 'trips\\Divvy_Trips_2014-Q3-07.csv',
 'trips\\Divvy_Trips_2014-Q3-0809.csv',
 'trips\\Divvy_Trips_2014-Q4.csv',
 'trips\\Divvy_Trips_2014_Q1Q2.csv',
 'trips\\Divvy_Trips_2015-Q1.csv',
 'trips\\Divvy_Trips_2015-Q2.csv',
 'trips\\Divvy_Trips_2015_07.csv',
 'trips\\Divvy_Trips_2015_08.csv',
 'trips\\Divvy_Trips_2015_09.csv',
 'trips\\Divvy_Trips_2015_Q4.csv',
 'trips\\Divvy_Trips_2016_04.csv',
 'trips\\Divvy_Trips_2016_05.csv',
 'trips\\Divvy_Trips_2016_06.csv',
 'trips\\Divvy_Trips_2016_Q1.csv',
 'trips\\Divvy_Trips_2016_Q3.csv',
 'trips\\Divvy_Trips_2016_Q4.csv',
 'trips\\Divvy_Trips_2017_Q1.csv',
 'trips\\Divvy_Trips_2017_Q2.csv',
 'trips\\Divvy_Trips_2017_Q3.csv',
 'trips\\Divvy_Trips_2017_Q4.csv']

In [85]:
path = 'all_trips'
csv_files = glob.glob(os.path.join(path, "*.csv"))
final_df_full = pd.DataFrame()
for f in csv_files:
    curr = pd.read_csv(f)
    final_df_full = pd.concat([final_df_full, curr])
    # out_dict[f.split("\\")[-1]].to_csv(f'{name}_standard.csv', index = False)

C:\Users\henry\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3139: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [88]:
a = 0
for f in csv_files:
    curr = pd.read_csv(f)
    a += len(curr)

a

C:\Users\henry\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3139: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

21243344

In [86]:
len(final_df_full)

21243344

In [89]:
final_df_full['tripduration'].dtype

dtype('float64')